@import url('https://fonts.googleapis.com/css2?family=Montserrat:400,700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
a {
    cursor: pointer;
}
.hero-bg {
    color: rgb(51, 46, 46);
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "this content";
    position: relative;
}
img {
    grid-area: content;
    width: 100%;
    height: 100vh;
    opacity: 0.9;
    filter: grayscale(46%);
    z-index: -1;
}
.left-col {
    background: #252b47;
    z-index: -1;
}
.top {
    width: 100%;
    position: absolute;
    margin-top: -40em;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    /* grid-template-columns: "oxified nav"; */
   
}

section.nav-bar {
    color: white;
}
.oxified {
    /* grid-area: oxified; */
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 5em;
}
.oxified a {
    text-decoration: none;
    color: white;
}
.nav-bar {
margin-left: 12em;
}
.nav-bar ul{
    /* grid-area: nav; */
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-bar ul li {
    display: inline;
    font-size: 1.2rem;
    margin-left: .7em;
    text-align: right;
}
.nav-bar ul li a{
    color: #242b42;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}
.nav-bar ul li button{
    cursor: pointer;
    background-color: #242b42;
    border: none;
    color: white;
    padding: .3em .8em;
    border-radius: .3em;
    font-size:1em;
    cursor: pointer;
}
.middle {
    position: absolute;
    z-index: 1;
    margin-top: 18em;
    margin-left: 26.1rem;
}
.middle h1 {
    font-size: 2.5rem;
    color: white;
    text-transform: uppercase;
}
.middle h1 span {
    color: #242b42;
}
.middle .btn {
    margin-left: 5.3em;
}
.middle input[type="button"] {
    margin-left: 2em;
    padding: 1em 2em;
    cursor: pointer;
    font-weight: bold;
    color: #242b42;
}
.overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.9);
    z-index: 3;
    place-content: center;
    color: white;
    display: none;
    opacity: 0;
}
.animate-overlay {
    animation: overlay 1s forwards;
}
.animate-overlay-out {
    animation: overlay 4s forwards;
}
.hero-bg {
    animation: backwards 1s forwards;
}
.top{
    animation: fadeIn 1s forwards;
}
.middle{
    animation: fadeIn 2s forwards;
}
/* template Design */
.top-pages {
    background: #252b47;
    padding: 1.5em;
    width: 96.5%;
    position: absolute;
    margin-top: 0em;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.manpower {
    margin-top: 0.7em;
    position: absolute;
    z-index: 2;
    color: black;
    font-size: 6rem;
}
.list-style {
    
}
/* REGISTRATION MODAL */
.register {
    background-color: white;
    border-radius: 5px;
    padding: 0.6em;
    width: 20em;;
}
.register-content {
    width: 100%;
    padding-top: 0.8em;
}
.reg-label {
    color: #242b42;
    /* font-weight: bold; */
    font-size: 0.8rem;
    margin: .5em 0;
}
.form-control {
    padding: 0.7em;
    border-radius: 5px;
    border: 1px solid gray;
    width: 93%;
}
.ctrl-btn {
    margin-top: 1em;
}
.ctrl-btn .btn {
    width: 100%;
    padding: 0.7em;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
    font-weight: bold;
    color: white;
    margin-top: .2em;
}
.cont {
    background-color: #242b42;
    border: 1px solid #242b42;
}
.cancel{
    background-color: #eba063;
    border: 1px solid #eba063;
}
.register-header {
    border-bottom: 1px solid rgb(199, 199, 199);
    padding: 1.5em;;
    display: grid;
    grid-template-columns: "reg x";
}
.reg {
    color: #242b42;
    font-weight: bold;
    grid-area: reg;
}
.x {
    grid-area: x;
}
/* LOADING */
.loading-cont {
    width: 100%;
}
.loading-cont img {
    width: 100%;
    height: 10em;
}
/* NOTIFICATIONS */
.success-notif {
    background-color: rgb(211, 243, 197);
    padding: 5em 2em;
    color: green;
    font-size: .5rem;
    border-radius: 20px;
    animation: overlay-success-notif 2s forwards;
    
}

/* ANIMATIONS */
@keyframes fadeIn-success-notif {
    from {
        opacity: 0;
        transform: translate(0)
    }
    to {
        opacity: 1;
        transform: translate(0)
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(0)
    }
    to {
        opacity: 1;
        transform: translate(0)
    }
}
@keyframes overlay {
    0% {
        opacity: 0;
    }
   7% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes overlay-out {
    0% {
        opacity: 0.7;
    }
    30% {
        opacity: 0.5;
    }
    70% {
        opacity: 0.3;
    }
    100% {
        opacity: 0;
    }
}
@keyframes overlay-success-notif {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
