<section class="top">
    <header class="oxified">
        <a href="">OXIFIED</a>
    </header>
    <div class="nav-bar">
        <ul>
            <li><a onclick="loadPage('./pages/manpower')">Manpower</a></li>
            <li><a onclick="loadPage('./pages/service')">Services</a></li>
            <li><a onclick="loadPage('./pages/offer')">Offer Service</a></li>
            <li><a onclick="loadModal('./modal/login')" id="login">Log In</a></li>
            <li><button id="join-btn" onclick="loadModal('./modal/register')">Join</button></li>
        </ul>
    </div>
</section>
